//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	// display: inline-flex;
	padding: toRem(10) toRem(25);
	background-color: #2F9FF8;
	border-radius: 4px;
	font-weight: 400;
	font-size: toRem(15);
	line-height: math.div(18 , 15);
	color: #fff;
	text-align: center;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	@media (any-hover: hover) {
		&:hover {
			background-color: #2474b6;
		}
	}
	&_min {
		padding: toRem(7) toRem(20);
	}
	&_border {
		background-color: transparent;
		border: 1px solid #2F9FF8;
		padding: toRem(9) toRem(20);
		color: #2F9FF8;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				border: 1px solid #2474b6;
			}
		}
	}
	&_dark {
		background-color: #0768b5;
		@media (any-hover: hover) {
			&:hover {
				background-color: #2F9FF8;
			}
		}
	}
	&_dark-border {
		background-color: transparent;
		border: 1px solid $mainColor;
		color: $mainColor;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: $mainColor;
				border: 1px solid $mainColor;
			}
		}
	}
	&--fw {
		width: 100%;
	}
}
